* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8faff;
  overflow-x: hidden;
}

/*----Navigation----*/

nav {
  width: 100vw;
  height: 8vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  background-color: #f8faff;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  nav {
    top: 0;
  }
}

nav > ul {
  height: 100%;
  width: auto;
  float: right;
  padding-right: 10vw;
  padding-top: 3vh;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #634d7c;
}

nav > ul > li {
  display: inline;
}

a:link {
  color: inherit;
  text-decoration: none;
  padding: 7px 18px 7px 18px;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#signUpButton,
#yourName {
  border-radius: 22px;
  color: #f8faff;
  outline: none;
  transition: 0.5s;
  padding: 8px 30px;
  background-size: 220% auto;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(
    to right,
    #f280a8 0%,
    #c86dd7 51%,
    #f280a8 100%
  );
}

@media screen and (max-width: 768px) {
  #signUpButton,
  #yourName {
    padding: 5px 12px;
  }
}

#signUpButton:hover,
#yourName:hover {
  background-position: right center;
}

#yourName {
  padding: 7px 18px 7px 18px;
}

#signUpButton:hover {
  background-image: linear-gradient(to right, #c86dd7, #f280a8);
}
.logo-menu {
  position: absolute;
  left: 10vw;
  top: 20px;
  height: 30px;
}

/*----General----*/

.h1info {
  width: 100vw;
  text-align: center;
  margin: 10vh 0 5vh 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #634d7c;
}

.h1info:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px;
  padding-top: 15px;
  border-bottom: 3px solid #e78cbd;
}

#pages {
  width: 100vw;
  height: 100vh;
}

.div-content > div > h2 {
  padding-top: 6vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #634d7c;
}

.div-content > div > p {
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #634d7c;
  text-align: center;
}

button {
  width: 150px;
  padding: 9px 25px 9px 25px;
  border-radius: 19px;
  color: #f8faff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 10vw;
  margin-top: 3vh;
  border: 0px;
  outline: none;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #f280a8 0%,
    #c86dd7 51%,
    #f280a8 100%
  );
}
button:active {
  transform: translateY(2px);
}

button:hover {
  background-position: right center;
}

.destination {
  position: absolute;
  z-index: -1;
  left: 0;
  margin-top: -8vh;
}

/*----Home page----*/

#home {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 15vh;
  height: 90vh;
}

.home-container-img {
  width: auto 55vw;
}

#home > div > img {
  max-width: 100%;
  max-height: 100%;
}

#home > div > h1 {
  padding-left: 10vw;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 42pt;
  font-weight: 700;
  color: #634d7c;
  line-height: 1.2;
  text-transform: none;
}

.grid-container {
  text-align: center;
}

.grid-container > img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: transform 1s;
}

.grid-container > img:hover {
  transform: scale(1.2);
}

/*----About page----*/

.about-container {
  background-color: #fdfdfd;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e0e0e0;
}
#about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 10vw 40px 10vw;
  grid-gap: 80px;
}

#about > div > img {
  height: 15vw;
  padding-bottom: 70px;
}

/*----Help out page----*/

#help-out {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 40px 10vw 40px 10vw;
  margin-top: 100px;
  grid-row-gap: 60px;
}

#help-out > div > button {
  margin-left: 0;
}

#help-out > div > img {
  width: 25vw;
  transition: transform 1s;
}

#help-out > div > img:hover {
  transform: scale(1.1);
}

.help-content {
  margin: 3vh 0vw 3vh 0vw;
}

/*----Contact page----*/
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 10vw 40px 10vw;
  margin-top: 100px;
}

#contact > div > img {
  width: 25vw;
}

.contact-container {
  background-color: #fdfdfd;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e0e0e0;
}

.contact-form {
  width: 100%;
  height: auto;
  padding-right: 150px;
}

.contact-img {
  text-align: center;
}

.grid-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

#first-div,
#last-div,
#email-div {
  margin: 0 0 20px 0;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  border: 1px solid #e0e0e0;
  outline: none;

  padding-left: 10px;
}

.contact-button {
  float: left;
  margin-left: 0px;
}

::placeholder {
  font-size: 14px;
}

input::placeholder {
  color: #9c9c9c;
}

input:focus::placeholder {
  color: #5d5d5d;
}

textarea {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border-style: none;
  border: 1px solid #e0e0e0;
  outline: none;
}

textarea::placeholder {
  color: #9c9c9c;
}

textarea:focus::placeholder {
  color: #5d5d5d;
}
/*----Footer----*/

footer {
  height: 25vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #b5b5b5;
}

footer > div:first-child {
  margin-top: 50px;
}

footer > div:last-child {
  margin: 2em 0;
}

footer > div {
  margin: 2em 0 0;
}

footer > div > img {
  height: 30px;
}

footer > div > a {
  display: inline;
  color: #b5b5b5;
  font-size: 16px;
}

footer > div > p {
  font-size: 12px;
  color: #b5b5b5;
}

/* Add shadow to NavBar when scrolled */

.shadow-anim {
  animation: createShadow 0.4s linear forwards;
}

@keyframes createShadow {
  to {
    opacity: 0.9;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.39),
      0 8px 22px 0 rgba(0, 0, 0, 0.13);
  }
}

/*----Animations ZOOM IN/OUT----*/

.zoomIn {
  animation: zoomIn 1s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomOutUp {
  animation: zoomOutUp 2s;
}

@keyframes zoomOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

/*---MODAL---*/

.span {
  display: block;
  cursor: pointer;
}

form .signUpButton {
  margin-top: 100px;
}

form .buttonForm,
#loginButtonConfirmation,
#homeButton,
.buttonForms {
  width: 150px;
  border-radius: 20px;
  margin-left: 0px;
  background-image: linear-gradient(to right, #f280a8, #c86dd7);
  padding: 9px 25px 9px 25px;
  color: #f8faff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  outline: none;
  border-style: none;
  transition: all 1s ease;
  cursor: pointer;
}

#homeButton {
  margin-top: 150px;
}

form .buttonForm:hover,
.buttonForms:hover,
#loginButtonConfirmation:hover,
.closeModal:hover {
  background-image: linear-gradient(to right, #c86dd7, #f280a8);
}

.closeModal {
  width: auto;
  position: relative;
  display: block;
  top: -75px;
  right: -60px;
  margin-top: 0px;
  padding: 8px 12px 8px 12px;
  border-radius: 100%;
  border-style: none;
  float: right;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to right, #f280a8, #c86dd7);
}

/*
label {
  width: 60%;
  margin-left: 40%;
  margin-right: 40%;
  text-align: left;
}
*/

.agreement input {
  display: inline;
}

.agreement {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #634d7c;
  margin-top: 10px;
}

.input,
.select {
  width: 95%;
  margin-top: 10px;
  padding: 13px;
  border-radius: 10px;
  border-style: none;
  border: 1px solid gray;
  outline: 0px;
}

.input::placeholder {
  font-size: 14px;
}

.input:focus::placeholder {
  color: black;
}

.input::placeholder:required {
  background-color: red;
}

.labelForm {
  grid-column: 1/ -1;
}

.input1,
.input2 {
  width: 100%;
}

.input1 input,
.input2 input {
  width: 90%;
}

.input1 {
  grid-column: 1/ 2;
}

.input2 {
  grid-column: 2/ 3;
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(99, 77, 124, 0.35);
  animation: overlay 0.5s;
}

.overlayAnimationOut {
  animation: overlayOut 1s forwards;
}

@keyframes overlayOut {
  from {
    background-color: rgba(99, 77, 124, 0.35);
  }

  33% {
    background-color: rgba(99, 77, 124, 0.25);
  }

  66% {
    background-color: rgba(99, 77, 124, 0.13);
  }

  to {
    background-color: rgba(99, 77, 124, 0);
  }
}

@keyframes overlay {
  from {
    background-color: rgba(99, 77, 124, 0);
  }

  33% {
    background-color: rgba(99, 77, 124, 0.13);
  }

  66% {
    background-color: rgba(99, 77, 124, 0.25);
  }

  to {
    background-color: rgba(99, 77, 124, 0.35);
  }
}

#modalSignUp,
#modalLogin,
#confirmation {
  display: none;
}

#confirmation h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 120px;
  padding-top: 15px;
  border-bottom: 3px solid #e78cbd;
}

.grid-display {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  margin: 0 auto;
}

.modal {
  width: 60vw;
  max-width: 800px;
  height: auto;
  padding-bottom: 10vh;
  margin: 0 auto;
  background-color: white;
  margin-top: 5vh;
  padding: 60px 40px 60px 40px;
  border-radius: 10px;
}

.modal-header {
  width: 100%;
}

.spreadTwoCols {
  grid-column: 1/ -1;
  grid-column-gap: 20px;
}

.modal-header h1 {
  margin: 0;
  padding-bottom: 80px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: #634d7c;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #634d7c;
}

h1,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: #634d7c;
}

h3 {
  font-size: 16px;
  text-transform: initial;
}
.modal-header h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 120px;
  padding-top: 15px;
  border-bottom: 3px solid #e78cbd;
}

.loginImage {
  width: 120px;
  margin: 0px auto;
  margin-bottom: 5%;
}

.loginImage img {
  width: 100%;
  height: auto;
}

.confirmImage {
  width: 150px;
  margin: 0px auto;
}

.confirmImage img {
  width: 100%;
  height: auto;
}

.paymentImage {
  width: 400px;
  margin: 0px auto;
  margin-bottom: 5%;
}

.paymentImage img {
  width: 100%;
  height: auto;
}

.event1 {
  grid-column: 1/2;
  width: auto;
  margin: 0 auto;
}

.event2 {
  grid-column: 2/3;
  width: auto;
  margin: 0 auto;
}
.event3 {
  grid-column: 3/4;
  width: auto;
  margin: 0 auto;
}
.event4 {
  grid-column: 4/5;
  width: auto;
  margin: 0 auto;
}

.tree1,
.donate1 {
  grid-column: 1/2;
}

.tree2,
.donate2 {
  grid-column: 2/3;
}

.tree3,
.donate3 {
  grid-column: 3/4;
}

@media screen and (max-width: 850px) {
  .tree1,
  .donate1 {
    grid-column: 1/4;
  }

  .tree2,
  .donate2 {
    grid-column: 1/4;
  }

  .tree3,
  .donate3 {
    grid-column: 1/4;
  }

  .event1 {
    grid-column: 1/5;
  }

  .event2 {
    grid-column: 1/5;
  }
  .event3 {
    grid-column: 1/5;
  }
  .event4 {
    grid-column: 1/5;
  }

  .input1,
  .input2 {
    width: 93%;
  }

  .modal {
    margin-right: 5%;
    margin-left: 5%;
    width: 90vw;
    padding: 20px 5px 70px 5px;
  }
}

/*----Mobile version----*/

@media only screen and (max-width: 900px) {
  #home > div > img,
  #contact > div > img {
    display: none;
  }

  nav > ul {
    font-size: 11px;
    padding-right: 1px;
    text-align: center;
    float: none;
  }

  .logo-menu {
    display: none;
  }

  a:link {
    padding: 3px;
  }

  .h1info {
    font-size: 12px;
  }

  .div-content > div > h2 {
    padding-top: 0px;
  }

  #home {
    background-image: url("../css/logo.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 200px;
    height: auto;
    padding-bottom: 30px;
  }

  #home > div > h1 {
    padding-top: 100px;
    font-size: 50px;
    line-height: 1.3;
  }

  #pages {
    height: auto;
  }

  #home,
  #contact {
    display: block;
  }

  #about {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  #about > div > img {
    height: 30vh;
    padding-bottom: 0px;
  }

  #help-out > div > img {
    width: 70%;
  }

  #help-out {
    margin-top: 0px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: "grid1" "grid2" "grid3" "grid4" "grid5" "grid6";
  }

  .grid1 {
    grid-area: grid1;
  }

  .grid2 {
    grid-area: grid2;
  }

  .grid3 {
    grid-area: grid3;
  }

  .grid4 {
    grid-area: grid4;
  }

  .grid5 {
    grid-area: grid5;
  }

  .grid6 {
    grid-area: grid6;
  }

  .contact-container {
    padding-bottom: 25px;
  }

  #contact {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .contact-form {
    padding: 0px;
  }

  .grid-name {
    grid-column-gap: 10px;
  }

  .contact-button {
    margin-left: 0px;
  }

  footer > div > a {
    font-size: 13px;
  }
  footer > div {
    margin-top: 20px;
  }

  .closeModal {
    top: -40px;
    right: -20px;
  }
}
